@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: 'Outfit';
}

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  
  --Brown-800: hsl(14, 45%, 36%);
  
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}


body {
  background-color: var(--Stone-100);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  margin-top: 70px;
  height: 1900px;
}

.card {
    background-color: #fff; 
    border-radius: 15px; 
    width: 736px;
    height: 1726px;
}

.card__img {
  max-width: 656px;
  max-height: 300px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  border-radius: 8px; 
}

.card__content {
  max-width: 656px;
  max-height: 1280px;
  margin: 0 40px;
}

.card__header {
  color: var(--Stone-900);
  font-size: 40px;
  margin: 40px 40px 32px 0;
  width: 656px;
  height: 40px;
}

.card__desc { 
  height: 48px;
  color: var(--Stone-600);
  font-size: 16px;

}
/* stop header */
.card__prep { 
  background-color:  hsl(330, 100%, 98%);
  border-radius: 0;
  max-width: 625px;
  max-height:198px;
  text-align: start;
  padding: 24px;
  margin: 0 0 32px 0;
}

.card-prep__item::marker {
  color: var(--Rose-800);
}


.card-prep__title { 
  margin: 24px 24px 16px 24px;
  font-size: 20px;
  color: var(--Rose-800);
}

.card-prep__span, .card-instructions__span {
  font-weight: bold;
}

.card-prep__item {
  color: var(--Stone-600);
  margin: 8px 0;
  padding-left: 24px;
}
/* stop prep */
.card-ingredients__title  {
  margin: 32px 0 0 0;
  color: var(--Brown-800);
  font-size: 28px;
}

.card-ingredients__list , .card-instructions__list {
  padding-left: 20px;
}
.card__ingredients {
  margin-bottom: 32px;
}
.card__list-item, .card__instructions-item {
  padding: 0 0 8px 28px;
  color: var(--Stone-600);
  font-size: 16px;
}

.card-list__item:last-child {
  padding: 0 0 32px 0;
}

.card__instructions , .card__nutrition {
  margin-top: 32px;
  margin-bottom: 32px;
}



.card__instructions-item {
  padding: 3px;
  padding-left: 20px;
}

.card__instructions-item::marker, .card__list-item::marker {
  color: hsl(11, 33%, 39%);
  font-weight: bold;
}


.card__instructions-title  {
  margin: 32px 0;
  color: var(--Brown-800);
  font-size: 28px;
}

.card__nutrition-title { 
  margin: 0 0 24px 0;
  color: var(--Brown-800);
  font-size: 28px;
}

.card__nutrition p {
  color: var(--Stone-600);
  margin: 0 0 24px 0 ;
}

.card__instructions-title {
  margin-top: 0;
}

.card-nutrition-table {
  color: var(--Stone-600);
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table tr:last-child td {
border-bottom: none;
}

table td:last-child {
  color: var(--Brown-800)
}



.whiteline {
  height: 0; 
  position: relative;
  padding-top: 1px;
}

.whiteline::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px; 
  background-color: var(--Stone-150); 
}
